.rps{
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(0,0,0);
}

button{
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 16px;
    margin: 4px 0;
    box-shadow: 1px 1px 3px green;
}

.card{
    background-color: red;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; ;
    align-items: center;
    margin: 20px;
}

.rock{
    margin: 0 20px;
    border-radius: 35px;
}

.paper{
    margin: 0 20px;
    border-radius: 35px;
}
.scissors{
    margin: 0 20px;
    border-radius: 35px;

}

.rock:hover, .scissors:hover, .paper:hover{
    margin: 0 20px;
    border-radius: 35px;
    color: blue;
    background-color: white;
}
